<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>Tobin,Adam,Yonatan</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.phoneNumberPersonAttributeTypeId
		</property>
		<defaultValue>8</defaultValue>
		<description>Person attribute type id for the phone number.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.manageAppointmentsFormTimout
		</property>
		<defaultValue>60</defaultValue>
		<description>Refresh the manage appointments page after this number of seconds. (60 Seconds Minimum,-1 to Disable auto Refresh)
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.defaultVisitType
		</property>
		<defaultValue>0</defaultValue>
		<description>Default Visit Type for the in consultation state change.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.defaultTimeSlotDuration
		</property>
		<defaultValue>60</defaultValue>
		<description>Default Time Slot Duration. (In Minutes)
		</description>
	</globalProperty>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AppointmentActivator
	</activator>

	<dwr>
		<allow>
			<convert converter="bean" match="org.openmrs.module.appointment.web.PatientData"/>
			<convert converter="bean" match="org.openmrs.module.appointment.web.AppointmentBlockData"/>
			<convert converter="bean" match="org.openmrs.module.appointment.TimeSlot"/>
			<convert converter="bean" match="org.openmrs.module.appointment.AppointmentBlock"/>
			<convert converter="bean" match="org.openmrs.module.appointment.AppointmentType"/>
			<convert converter="bean" match="org.openmrs.module.appointment.Appointment"/>
			<convert converter="bean" match="org.openmrs.Provider"/>
			<convert converter="bean" match="org.openmrs.Person"/>
			<convert converter="bean" match="org.openmrs.PersonName"/>
			<convert converter="bean" match="org.openmrs.Visit"/>
			<convert converter="bean" match="org.openmrs.User"/>
			<convert converter="bean" match="org.openmrs.Patient"/>
			<convert converter="bean" match="org.openmrs.Location"/>
			<create creator="new" javascript="DWRAppointmentService">
				<param name="class" value="org.openmrs.module.appointment.web.DWRAppointmentService" />
				<include method="getPatientDescription" />
				<include method="getAppointmentBlocks"/>
				<include method="getNumberOfAppointmentsInAppointmentBlock"/>
				<include method="validateDates"/>
			</create>
		</allow>

		<signatures>
            <![CDATA[
            import org.openmrs.module.appointment.web.DWRAppointmentService;
            DWRAppointmentService.getPatientDescription(Integer patientId);
            DWRAppointmentService.getAppointmentBlocks(String fromDate,String toDate,Integer locationId);
            DWRAppointmentService.getNumberOfAppointmentsInAppointmentBlock(Integer appointmentBlockId);
            DWRAppointmentService.validateDates(String fromDate,String toDate);
            ]]>
		</signatures>
	</dwr>


	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList
		</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboard.Header</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PatientDashboardAppointmentExt
		</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AppointmentsHeaderLinkExt
		</class>
	</extension>
	<extension> 
	    <point>org.openmrs.patientDashboardTab</point>
	    <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PatientDashboardAppointmentTabExt</class> 
	</extension>
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		Appointment.hbm.xml
		AppointmentType.hbm.xml
		AppointmentBlock.hbm.xml
		TimeSlot.hbm.xml
		AppointmentStatusHistory.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!--  Privileges -->
	<privilege>
		<name>Manage Appointment Types</name>
		<description>Ability to add/edit/purge appointment types</description>
	</privilege>
	<privilege>
		<name>View Appointment Types</name>
		<description>Ability to view appointment types</description>
	</privilege>
	<privilege>
		<name>Manage Appointment Blocks</name>
		<description>Ability to add/edit/purge appointment blocks</description>
	</privilege>
	<privilege>
		<name>View Appointment Blocks</name>
		<description>Ability to view appointment blocks</description>
	</privilege>
	<privilege>
		<name>View Appointments</name>
		<description>Ability to view appointments</description>
	</privilege>
	<privilege>
		<name>Schedule Appointments</name>
		<description>Ability to schedule new appointments</description>
	</privilege>
	<privilege>
		<name>Update Appointment Status</name>
		<description>Ability to modify appointment states</description>
	</privilege>
	<privilege>
		<name>Squeezing Appointments</name>
		<description>Ability to override the constraints and schedule appointments into full slots</description>
	</privilege>
	<!-- /Privileges -->

</module>