<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}
	</package>
	<author>Tobin,Adam,Yonatan</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf

    </updateURL>
	<require_version>1.11.3, 1.10.2 - 1.10.*, 1.9.9 - 1.9.*</require_version>

    <require_modules>
        <require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
        <require_module version="${reportingModuleVersion}">org.openmrs.module.reporting</require_module>
    </require_modules>
    
    <aware_of_modules>
	    <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<!-- / Module Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.phoneNumberPersonAttributeTypeId
		</property>
		<defaultValue>8</defaultValue>
		<description>Person attribute type id for the phone number.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.manageAppointmentsFormTimout
		</property>
		<defaultValue>60</defaultValue>
		<description>Refresh the manage appointments page after this number of seconds. (60 Seconds Minimum,-1 to Disable auto Refresh)
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.defaultVisitType
		</property>
		<defaultValue>1</defaultValue>
		<description>Default Visit Type for the in consultation state change.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.defaultTimeSlotDuration
		</property>
		<defaultValue>60</defaultValue>
		<description>Default Time Slot Duration. (In Minutes)
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.hideEndVisitButtons
		</property>
		<defaultValue>true</defaultValue>
		<description>Hide "End Visit" buttons on the patient dashboard.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.cleanOpenAppointmentScheduler
		</property>
		<defaultValue>false</defaultValue>
		<description>Clean open appointments at end of the day.
		</description>
	</globalProperty>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AppointmentActivator
	</activator>

	<dwr>
		<allow>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.web.PatientData"/>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.web.AppointmentData"/>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.web.AppointmentBlockData"/>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.TimeSlot"/>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.AppointmentBlock"/>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.AppointmentType"/>
			<convert converter="bean" match="org.openmrs.module.appointmentscheduling.Appointment"/>
			<convert converter="bean" match="org.openmrs.Provider"/>
			<convert converter="bean" match="org.openmrs.Person"/>
			<convert converter="bean" match="org.openmrs.PersonName"/>
			<convert converter="bean" match="org.openmrs.Visit"/>
			<convert converter="bean" match="org.openmrs.User"/>
			<convert converter="bean" match="org.openmrs.Patient"/>
			<convert converter="bean" match="org.openmrs.Location"/>
			<create creator="new" javascript="DWRAppointmentService">
				<param name="class" value="org.openmrs.module.appointmentscheduling.web.DWRAppointmentService" />
				<include method="getPatientDescription" />
				<include method="getAppointmentBlocks"/>
				<include method="getAppointmentBlocksForCalendar"/>
				<include method="getPatientsInAppointmentBlock"/>
				<include method="validateDates"/>
				<include method="checkProviderOpenConsultations"/>
				<include method="checkProviderOpenConsultationsByPatient"/>
				<include method="cleanOpenAppointments"/>
				<include method="getAverageWaitingTimeByType"/>
				<include method="getAverageConsultationTimeByType"/>
				<include method="getCountOfWaitingHistories"/>
				<include method="getCountOfConsultationHistories"/>
				<include method="getAppointmentTypeDistribution"/>
				<include method="getAppointmentsCount"/>
				<include method="getAverageWaitingTimeByProvider"/>
				<include method="getAverageConsultationTimeByProvider"/>
				<include method="cleanOpenAppointments"/>
			</create>
		</allow>

		<signatures>
            <![CDATA[
            import org.openmrs.module.appointmentscheduling.web.DWRAppointmentService;
            DWRAppointmentService.getPatientDescription(Integer patientId);
            DWRAppointmentService.getAppointmentBlocks(String fromDate,String toDate,Integer locationId, Integer providerId, Integer appointmentTypeId);
            DWRAppointmentService.getAppointmentBlocksForCalendar(Long fromDate,Long toDate,Integer locationId, Integer providerId, Integer appointmentTypeId);
            DWRAppointmentService.getPatientsInAppointmentBlock(Integer appointmentBlockId);
            DWRAppointmentService.validateDates(String fromDate,String toDate);
            DWRAppointmentService.checkProviderOpenConsultations(appointmentId);
            DWRAppointmentService.checkProviderOpenConsultationsByPatient(patientId);
            DWRAppointmentService.getAverageWaitingTimeByType(String fromDate, String toDate);
            DWRAppointmentService.getAverageConsultationTimeByType(String fromDate, String toDate);
            DWRAppointmentService.getCountOfWaitingHistories(String fromDate, String toDate);
            DWRAppointmentService.getCountOfConsultationHistories(String fromDate, String toDate);
            DWRAppointmentService.getAppointmentTypeDistribution(String fromDate, String toDate);
            DWRAppointmentService.getAppointmentsCount(String fromDate, String toDate);
            DWRAppointmentService.getAverageWaitingTimeByProvider(String fromDate, String toDate);
            DWRAppointmentService.getAverageConsultationTimeByProvider(String fromDate, String toDate);
            ]]>
		</signatures>
	</dwr>


	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList
		</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboard.Header</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PatientDashboardAppointmentExt
		</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AppointmentsHeaderLinkExt
		</class>
	</extension>
	<extension> 
	    <point>org.openmrs.patientDashboardTab</point>
	    <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PatientDashboardAppointmentTabExt</class> 
	</extension>
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		Appointment.hbm.xml
		AppointmentType.hbm.xml
		AppointmentBlock.hbm.xml
		TimeSlot.hbm.xml
		AppointmentStatusHistory.hbm.xml
        AppointmentRequest.hbm.xml
		ProviderSchedule.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!--  Privileges -->
	<privilege>
		<name>Manage Appointment Types</name>
		<description>Ability to add/edit/purge appointment types</description>
	</privilege>
	<privilege>
		<name>View Appointment Types</name>
		<description>Ability to view appointment types</description>
	</privilege>
	<privilege>
		<name>Manage Provider Schedules</name>
		<description>Ability to add/edit/purge appointment blocks</description>
	</privilege>
	<privilege>
		<name>View Provider Schedules</name>
		<description>Ability to View Provider Schedules</description>
	</privilege>
	<privilege>
		<name>View Appointments</name>
		<description>Ability to view appointments</description>
	</privilege>
	<privilege>
		<name>Schedule Appointments</name>
		<description>Ability to schedule new appointments</description>
	</privilege>
	<privilege>
		<name>Update Appointment Status</name>
		<description>Ability to modify appointment states</description>
	</privilege>
	<privilege>
		<name>Squeezing Appointments</name>
		<description>Ability to override the constraints and schedule appointments into full slots</description>
	</privilege>
	<privilege>
		<name>View Patient Appointment History</name>
		<description>Ability to view the appointment history tab on the patient's dashboard</description>
	</privilege>
	<privilege>
		<name>Manage Appointments Settings</name>
		<description>Ability to manage the appointment scheduling module settings</description>
	</privilege>
	<privilege>
		<name>View Appointments Statistics</name>
		<description>Ability to view the appointments statistics page</description>
	</privilege>
    <privilege>
        <name>View Appointments Blocks</name>
        <description>Ability to view the appointment blocks</description>
    </privilege>
    <privilege>
        <name>Request Appointments</name>
        <description>Ability to request new appointments</description>
    </privilege>
    <privilege>
        <name>Task: appointmentschedulingui.viewConfidential</name>
        <description>Ability to see details of confidential appointments (you also need View Appointments privileges)</description>
    </privilege>
	<!-- /Privileges -->

</module>