#createAppointmentTable {
	width:100%;
}

#createAppointmentTable td {
	padding: 5px;
	padding-left: 15px;
}

.formIcon{
	width:24px;
	height:24px;
	margin-right:6px;
}

#patient_id_selection{
	width:170px;
	float:left;
	top:0%;
}

#patientLinkDiv{
	display:inline-block;
	margin-left:10px;
}

#headline {
	font-size: x-large;
	font-weight: bold;
	padding-left: 15px;
	padding: 7px;
}

.appointmentButton {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E0E0E0), color-stop(1, #CCCCCC) );
	background: -moz-linear-gradient(center top, #E0E0E0 0%, #CCCCCC 100%   );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0',
		endColorstr='#CCCCCC' );
	background-color: #a2dec8;
	border: 1px solid #CCCCCC;
	display: inline-block;
	color: #000000;
	padding: 3px 20px;
	text-decoration: none;
	border-radius:6px;
}

.appointmentButton:hover:enabled {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CCCCCC
		), color-stop(1, #E0E0E0) );
	background: -moz-linear-gradient(center top, #CCCCCC 0%, #E0E0E0 100%   );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC',
		endColorstr='#E0E0E0' );
	background-color: #a2dec8;
	cursor:pointer;
}

.appointmentButton:active:enabled {
	position: relative;
	top: 1px;
	cursor:pointer;
}

.saveButton {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #A3A3A3
		), color-stop(1, #757575) );
	background: -moz-linear-gradient(center top, #A3A3A3 0%, #757575 100%   );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A3A3',
		endColorstr='#757575' );
	background-color: #a2dec8;
	border: 1px solid #CCCCCC;
	display: inline-block;
	color: #ffffff;
	padding: 8px 35px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #666666;
	font-weight: bold;
	font-size:16px;
	border-radius:6px;
}

.saveButton:hover:enabled {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #757575
		), color-stop(1, #A3A3A3) );
	background: -moz-linear-gradient(center top, #757575 0%, #A3A3A3 100%   );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575',
		endColorstr='#A3A3A3' );
	background-color: #a2dec8;
	cursor:pointer;
}

.saveButton:active:enabled {
	position: relative;
	top: 1px;
	cursor:pointer;
}

.calendarIcon {
	margin-left: 7px;
	margin-bottom: -5px;
}


.steps {
	display:table-row;
}

.formLabel {
	font-weight: bold;
	font-weight: 600;
}

#appointmentBlockFormTable{
	margin-top: 30px;
}

#appointmentBlockFormTable td {
	padding: 5px;
	padding-left: 15px;
}

#appointmentBlocksTable{
	border-collapse: collapse;
}

.tableHeader {
	background-color: #666666;
	font-weight: bold;
	color: white;
	height: 20px;
}

.selectedRow{
	background-color:#7fbffa !important;
}

.notSelectedRow:hover{
	background-color:#efffd0 !important;
	cursor:pointer;
}

.selectedFullRow{
	background-color:#CC0000!important;
}

.selectedFullRow:hover{
	background-color:#CC0000!important;
}


.notSelectedFullRow:hover{
	background-color:#FF3333 !important;
	cursor:pointer;
}

.notSelectedFullRow{
	background-color:#FF9999 !important;
	cursor:pointer;
}

#slotIndex{
	font-size:small;
	font-weight:normal;
}


.buttonShadow{
	margin:3px;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.25);
	border:thin gray solid;
}

.buttonShadow:disabled{
	background-color:silver;
	color:gray;
}

.dialogTable{
	margin-top:5px;
	margin-left: auto;
    margin-right: auto;
    font-size:16px;
}

.dialogTable h2{
	font-size:18px;
}

#printButton
{
	cursor:pointer;
	float:right;
	margin:5px;
}